# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg
dist/
build/

# Base de datos
*.db
*.sqlite3
database/*.db

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db